<div id="agregarsucursal" class="container">
    <form action="/ropa/postm_sucursalr/{{id}}" method="POST" enctype="multipart/form-data">
        <div class="modal-content">
            <center><h4>Modificar sucursal</h4></center>
            {% csrf_token %}
            <br/>
            {{form.as_p}}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn modal-close waves-effect waves-green grey btn-small" >Cancelar</button>
            <button type="submit" class="btn waves-effect waves-green green ">Modificar</button>
        </div>
    </form>
</div>
