{% extends "base_a.html" %} {% load static %} {% block content %}

<div class="parallax-container">
  <div class="parallax">
    <img src="/media/a1.webp" />
  </div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">Abarrotes el belico</h2>
    <p class="grey-text text-darken-3 lighten-3">
      "El Belico, ¡tus enemigos son los precios altos y nosotros los vencemos
      todos los días!"
    </p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="/media/a2.jpeg" /></div>
</div>



 <div class="container">
  <div class="section">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center black-text">
            <i class="material-icons">inventory</i>
          </h2>
          <h4 class="center">Productos</h4>
          <p class="center-align">
            <a
              href="/abarrotes/landingproductoa"
              class="btn btn-big deep-orange darken-4 white-text waves-effect"
              >VER MAS</a
            >
          </p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center black-text">
            <i class="material-icons">groups</i>
          </h2>
          <h4 class="center">Clientes</h4>
          <p class="center-align">
            <a
              href="/abarrotes/landingclientea"
              class="btn btn-big deep-orange darken-4 white-text waves-effect"
              >VER MAS</a
            >
          </p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center black-text"><i class="material-icons">cases</i></h2>
          <h4 class="center">Proveedores</h4>
          <p class="center-align">
            <a
              href="/abarrotes/landingproveedora"
              class="btn btn-big deep-orange darken-4 white-text waves-effect"
              >VER MAS</a
            >
          </p>
        </div>
      </div>
      <br></br>
      <br></br>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center black-text"><i class="material-icons">store</i></h2>
          <h4 class="center">Sucursales</h4>
          <p class="center-align">
            <a
              href="/abarrotes/landingsucursala"
              class="btn btn-big deep-orange darken-4 white-text waves-effect"
              >VER MAS</a
            >
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center black-text"><i class="material-icons">group</i></h2>
          <h4 class="center">Empleados</h4>
          <p class="center-align">
            <a
              href="/abarrotes/landingempleadoa"
              class="btn btn-big deep-orange darken-4 white-text waves-effect"
              >VER MAS</a
            >
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center black-text">
            <i class="material-icons">category</i>
          </h2>
          <h4 class="center">Categorias</h4>
          <p class="center-align">
            <a
              href="/abarrotes/landingcategoriaa"
              class="btn btn-big deep-orange darken-4 white-text waves-effect"
              >VER MAS</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
  <br /><br />
</div>

{% endblock content%} {% block js %}
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function () {
    var elems = document.querySelectorAll(".parallax");
    var instances = M.Parallax.init(elems);
  });
</script>
{% endblock js %}
