{% extends "base_a.html" %}
{% load static %}

{% block content %}
<input type="hidden" id="csrf_token" value="{{ csrf_token }}">
<style>
    @media screen and (max-with:600px){

    }
    .card{
        /* display: inline-block; */

    }
    .card .card-image img{
        height:200px;
    }
    @media (max-width: 600px){
        .head{
            font-size: 15px;
        }
        .letras{
            font-size: 15px;
        }
    }
    .card{
        padding: 30px
        height:80px;
    }
    .head{
        font-size: 25px;
    }
    .cont-card{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .a-card{
        width: 100%;
    }
    .btn_delete{
        cursor: pointer;
    }
    .delete{
        display: flex;
        align-items: center;
        padding-right: 24px;
    }
</style>
<div class="container">
    <br/>
    <div class="row">
        <div class="col s6 m4 l4">
            <p class="head">PRODUCTOS</p>
            
        </div>
        <form class="col s6 m8 l8">
           <div class="row">
                <!--<div class = "input-field col s12">
                    <i class="material-icons prefix">search</i>
                    <input id="icon-telephone" type="tel" class="validate">
                    <label for="icon-telephone">Buscar Pastel</label>
                </div>-->
            </div> 
        </form>
    </div>
    <div class="row producto modificarproducto"> <!--href="/postm_pastel/{{i.id}}"  action="{% url 'post_pastel' %}"href="/detalle_pastel/{{i.id}}" -->
        {% for i in consulta %}
        <div class="col s12 m12 l12">
            <div class="card cont-card" id= "cont-card">
                <a class = "a-card" onclick="modificarp('/abarrotes/sacar_datos_productoa/{{i.id}}')" data-my-id="{{ i.id }}" class="my-link">
                    <table class="centered responsive-table black-text highlight">
                        <thead>
                          <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Categoria</th>
                          </tr>
                        </thead>
                
                        <tbody>
                          <tr>
                            <td>{{i.id}}</td>
                            <td>{{i.nombre}}</td>
                            <td>${{i.precio}}</td>
                            <td>{{i.cantidad}}</td>
                            <td>{{i.categoria}}</td>
                          </tr>
                          </tr>
                        </tbody>
                      </table>
                            
                </a>
                <div class = "delete">
                    <i class = "material-icons right btn_delete" data-idz="{{i.id}}">delete</i> 
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="fixed-action-btn">
    <a class = "btn-floating btn-large pulsa para agregarproducto pulse" style = "background-color: #8f1d1d">
        <i class = "large material-icons">add</i>
    </a>
</div>

<div id = "agregarproducto" class="modal modal-big">
    <form action = "{% url 'post_productoa' %} " method = "POST" enctype = "multipart/form-data">{% csrf_token%}
        <div class = "modal-content">
            <center><h4>Agregar producto</h4></center>
            </br>
            {{formulario.as_p}}
        </div>
        <div class = "modal-footer">
            <button type = "button" class = "btn modal-close waves-effect waves-green grey btn-small">Cancelar</button>
            <button type = "submit" class = "btn waves-effect waves waves-green green">Agregar</button>
        </div>
    </form>
</div>

<div id="modificarproducto" class="modal modal-big">
    <form action="{% url 'post_productoa' %} " method="POST" enctype="multipart/form-data">
        <div class="modal-content">
            <center><h4>Modificar producto</h4></center>{% csrf_token %}
            <br/>
            {{formulario.as_p}}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn modal-close waves-effect waves-green grey btn-small">Cancelar</button>
            <button type="submit" class="btn waves-effect waves-green green ">Agregar</button>
        </div>
    </form>
</div>


{% endblock content%}


{% block js %}
<script type = "text/javascript">
    
$(document).ready(function(){
    $('.materialboxed').materialbox();
    $('#agregarproducto').modal({
        dismissible: true,
    });
    $('.materialboxed').materialbox();
    $('#modificarproducto').modal({
        dismissible: true,
    });
});

$(document).on("click",".agregarproducto", function(){
    $('#agregarproducto').modal('open');
});

    /*
    $(document).on("click",".modificarpastel", function(){
        $('#modificarpastel').modal('open');
    });
    */

function agregarproducto(formData){
    $.ajax({
        url:"{% url 'post_productoa' %}",
        method:"POST",
        data:formData,
        success: function(data){
            var injerto='<div class="col s12 m12 l12">'+
            '<a href="">'+
                '<div class = "card">'+
                    '<div class="card-content">'+
                        '<span class="card-title activator grey-tex text-darken-4"><i class="material-icons">inventory</i>nombre: {{i.nombre}} <i class = "material-icons right btn_delete">delete</i> </span>'+
                    '</div>'+
                '</div>'+
            '</a>'+
        '</div>';
        $('.producto').append(injerto)
            M.toast({html: "producto agregado exitosamente!!!!!"});
            $('#agregarproducto').modal('close');
        },
        error:function(data){
            console.log("error")
        }
    });
}

function modificarp(id){
    $.ajax({
        url:id,
        type: 'GET',
        dataType: 'html',
        success: function(data) {
            $('#modificarproducto').html(data);// aqui es donde cargo la informacion en el modal
            $('#modificarproducto').modal('open')//aqui es donde muestro el modal
        }
    }); 
      
};

$(".btn_delete").click(function(evento){
    $('#modificarproducto').modal('close');
    evento.preventDefault();
    idproducto = $(this).attr('data-idz')
    producto=$(this)
    formData={
        "idproducto":idproducto
    }
    var csrf_token = $("#csrf_token").val()
    $.ajaxSetup({
    headers:{
        'X-CSRFToken': csrf_token
        }
    });
    $.ajax({
        url:"/abarrotes/removerproductoa",
        method:"POST",
        data:formData,
        success: function(data){
            $('#modificarproducto').modal('close');
            console.log(data);
            producto.closest('#cont-card').remove()
            M.toast({html:'Producto borrado exitosamente'});
        },
        error:function(data){
            console.log("error");
        }
    });
});


</script>


{% endblock js %}